{% extends "RichpolisBackendBundle::backend.html.twig" %}

{% block menu_horizontal %}
    {% include 'RichpolisBackendBundle:Default:menu_horizontal.html.twig' with {'pagina': 'votaciones'} %}
{% endblock %}

{% block body %}
<h1>Semana "{{entity.tema}}"</h1>

<table class="record_properties table table-bordered">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Semana</th>
            <td>{{ entity.semana|date('d/m/Y H:i') }}</td>
        </tr>
        <tr>
            <th>Tema</th>
            <td>{{ entity.tema }}</td>
        </tr>
        <tr>
            <th>Posicion</th>
            <td>{{ entity.posicion }}</td>
        </tr>
        <tr>
            <th>Activo</th>
            <td>{{ entity.isactive }}</td>
        </tr>
        <tr>
            <th>Creado</th>
            <td>{{ entity.createdat|date('d/m/Y H:i') }}</td>
        </tr>
        <tr>
            <th>Actualizado</th>
            <td>{{ entity.updatedat|date('d/m/Y H:i') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions nav nav-pills">
        <li>
            <button class="btn" onclick="location.href='{{ path('semana_votaciones') }}'">
                Regresar
            </button>
        </li>
        <li>&nbsp;</li>
        <li>
            <button class="btn btn-success" onclick="location.href='{{ path('semana_votaciones_edit', { 'id': entity.id }) }}'">
                Editar
            </button>
        </li>
        <li>&nbsp;</li>
        <li>
            <form action="{{ path('semana_votaciones_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit">Eliminar</button>
            </form>
        </li>
</ul>
{% endblock %}