{% extends "RichpolisBackendBundle::backend.html.twig" %}

{% block menu_horizontal %}
    {% include 'RichpolisBackendBundle:Default:menu_horizontal.html.twig' with {'pagina': 'publicidad'} %}
{% endblock %}

{% block siderbar %}  
<ul class="nav nav-list">
    <li class="nav-header">Publicidad</li>
    {% for key,value in tipos %}
    {% if key != tipo_publicidad %}    
    <li class="tipo-publicidad" tipo="{{key}}">
        <a href="{{path('publicidad_por_tipo',{'tipo': key })}}">{{value}}</a>
    </li>
    {% else %}
    <li class="tipo-publicidad active" tipo="{{key}}">
        <a href="#">{{value}}</a>
    </li>
    {% endif %}
    {% endfor %}    
    <li class="nav-header">Papelera</li>
    <li id="papelera">
        <img src="{{asset('images/trash_grande.png')}}"/>
    </li>
</ul>
{% endblock %}

{% block body %}

<h1>Publicidad</h1>

<table class="table table-hover records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Archivo</th>
            <th>Tipo publicidad</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Activo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in pagination %}
        <tr>
            <td><a href="{{ path('publicidad_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.archivoView | raw }}</td>
            <td>{{ entity.stringTipoPublicidad }}</td>
            <td>{% if entity.activedat %}{{ entity.activedat|date('d/m/Y H:i') }}{% endif%}</td>
            <td>{% if entity.inativedat %}{{ entity.inativedat|date('d/m/Y H:i') }}{% endif%}</td>
            <td>{{ entity.isactive | isActive | raw }}</td>
            <td>
                <ul class="nav">
                    <li>
                        <a class="btn btn-mini" href="{{ path('publicidad_show', { 'id': entity.id }) }}" title="Mostrar registro">
                            <i class="icon-eye-open"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-mini" href="{{ path('publicidad_edit', { 'id': entity.id }) }}" title="Editar registro">
                            <i class="icon-edit"></i>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="row">
        <div class="span4">    
            <ul class="btn-group">
                <li>
                    <a class="btn btn-primary" href="{{ path('publicidad_new',{'tipo': tipo_publicidad}) }}">
                        Nueva publicidad
                    </a>
                </li>
             </ul>
        </div>
        <div class="span4">
            <div class="navigation"> {{ knp_pagination_render(pagination) }} </div>
        </div>   
</div>

{% endblock %}