
<div id="page">
    <div id="galleriffic">
        <h1 style="position: relative; ">
        {{categoria.stringTipoCategoria}}
            <span class="categoria-galeria-close">
                <a href="#" onclick="javascript:closeDialogModalRS()">
                   <img src="/images/close_button.png"/>
                </a>
            </span>
        </h1>
            
        <!-- Start Advanced Gallery Html Containers -->
        <div id="gallery" class="content">
            <div class="slideshow-container">
                <div id="loading" class="loader"></div>
                <div id="slideshow" class="slideshow"></div>
            </div>
            <div id="caption" class="caption-container"></div>
        </div>
        <div id="controls" class="controls"></div>
        <div id="thumbs" class="navigation">
            <ul class="thumbs noscript">
		{% for galeria in galerias %}
                    <li>
                        <a class="thumb" href="{{ galeria.webPath | apply_filter('categoria_galeria_imagen')}}" title="{{galeria.titulo}}" name="{{galeria.id}}" >
                            <img src="{{galeria.thumbnailWebPath | apply_filter('categoria_galeria_thumb')}}" alt="{{galeria.titulo}}" height="75" />
                        </a>
                        <div class="caption">
                            <div class="download">
                                <a href="{{galeria.webPath}}" class="btn btn-primary" target="_blank" style="color: white;">Download Original</a>
                            </div>
                            <div class="image-title">{{galeria.titulo}}</div>
                            <div class="image-desc">
                                <p>
                                    Fan: {{ galeria.fan.nombre }}<br/>
                                    Twitter: {{ galeria.fan.twitter }}<br/>
                                    Facebook: {{ galeria.fan.facebook }}<br/>
                                </p>
                            </div>
                        </div>
                    </li>
                   {% endfor %}
                </ul>
            </div>
            <div style="clear: both;"></div>
            <div class="buttonUploadGaleria">
                    <a href="#modalUploadForm" 
                       onclick="javascript:showFormUpload('{{path('fans_upload_galerias',{'categoria_id':categoria.id})}}','{{categoria.stringTipoCategoria}}')"
                       role="button" 
                       class="btn btn-primary"
                       data-toggle="modal">
                       Sube tu archivo!
                     </a>
             </div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            // We only want these styles applied when javascript is enabled
            $('div.navigation').css({'width': '300px', 'float': 'left'});
            $('div.content').css('display', 'block');

            // Initially set opacity on thumbs and add
            // additional styling for hover effect on thumbs
            var onMouseOutOpacity = 0.67;
            $('#thumbs ul.thumbs li').opacityrollover({
                mouseOutOpacity: onMouseOutOpacity,
                mouseOverOpacity: 1.0,
                fadeSpeed: 'fast',
                exemptionSelector: '.selected'
            });

            // Initialize Advanced Galleriffic Gallery
            var gallery = $('#thumbs').galleriffic({
                delay: 2500,
                numThumbs: 15,
                preloadAhead: 10,
                enableTopPager: true,
                enableBottomPager: true,
                maxPagesToShow: 7,
                imageContainerSel: '#slideshow',
                controlsContainerSel: '#controls',
                captionContainerSel: '#caption',
                loadingContainerSel: '#loading',
                renderSSControls: true,
                renderNavControls: true,
                playLinkText: 'Play Slideshow',
                pauseLinkText: 'Pausa',
                prevLinkText: '&lsaquo; Anterior',
                nextLinkText: 'Siguiente &rsaquo;',
                nextPageLinkText: 'Next &rsaquo;',
                prevPageLinkText: '&lsaquo; Prev',
                enableHistory: false,
                autoStart: false,
                syncTransitions: true,
                defaultTransitionDuration: 900,
                onSlideChange: function(prevIndex, nextIndex) {
                    // 'this' refers to the gallery, which is an extension of $('#thumbs')
                    this.find('ul.thumbs').children()
                            .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
                            .eq(nextIndex).fadeTo('fast', 1.0);
                },
                onPageTransitionOut: function(callback) {
                    this.fadeTo('fast', 0.0, callback);
                },
                onPageTransitionIn: function() {
                    this.fadeTo('fast', 1.0);
                }
            });
            
            $("a.play").addClass("button");
            $("a.prev").addClass("button");
            $("a.next").addClass("button");
        });
        </script>