{% extends "RichpolisBackendBundle::backend.html.twig" %}

{% block menu_horizontal %}
    {% include 'RichpolisBackendBundle:Default:menu_horizontal.html.twig' with {'pagina': 'publicaciones'} %}
{% endblock %}

{% block siderbar %}  
<ul class="nav nav-list">
    <li class="nav-header">Publicaciones</li>
    {% for key,value in tipos %}
    {% if key != tipo_publicacion %}    
    <li class="tipo-publicacion" tipo="{{key}}">
        <a href="{{path('publicaciones_por_tipo',{'tipo': key })}}">{{value}}</a>
    </li>
    {% else %}
    <li class="tipo-publicacion active" tipo="{{key}}">
        <a href="#">{{value}}</a>
    </li>
    {% endif %}
    {% endfor %}    
    <li class="nav-header">Papelera</li>
    <li id="papelera">
        <img src="{{asset('images/trash_grande.png')}}"/>
    </li>
</ul>
{% endblock %}

{% block body %}
{% if app.request.page is not defined %}
    {% set page=1 %}
{% else %}
    {% set page=app.request.page %}
{% endif %}


<h1>Publicaciones {{tipos[tipo_publicacion]}}</h1>

<table class="table table-hover records_list">
    <thead>
        <tr>
            <th>Orden</th>
            <th>Titulo</th>
            <th>Imagen</th>
            <th>Video</th>
            <th>Tipo</th>
            <th>Activo</th>
            <th>Creado</th>
            <th>Actualizado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in pagination %}
        <tr class="list-registro">
            <td class="list-registro-posicion"><a href="{{ path('publicaciones_show', { 'id': entity.id }) }}">{{ entity.posicion }}</a></td>
            <td class="list-registro-titulo">{{ entity.titulo }}</td>
            <td class="list-registro-imagen"><img src="{{ entity.webPath }}" style="max-height: 120px; max-width: 120px;"/></td>
            <td>{{ entity.linkvideo }}</td>
            <td>{{ entity.stringtipopublicacion }}</td>
            <td>{{ entity.isactive | isActive | raw }}</td>
            <td>{% if entity.createdat %}{{ entity.createdat|date('d-m-Y H:i:s') }}{% endif%}</td>
            <td>{% if entity.updatedat %}{{ entity.updatedat|date('d-m-Y H:i:s') }}{% endif%}</td>
            <td>
                <ul class="nav">
                    <li>
                        <a class="btn btn-mini" href="{{ path('publicaciones_show', { 'id': entity.id }) }}" title="Mostrar registro">
                            <i class="icon-eye-open"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-mini" href="{{ path('publicaciones_edit', { 'id': entity.id }) }}" title="Editar registro">
                            <i class="icon-edit"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-mini" href="{{ path('publicaciones_up', { 'id': entity.id ,'page': page}) }}" title="Subir registro">
                            <i class="icon-hand-up"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-mini" href="{{ path('publicaciones_down', { 'id': entity.id, 'page': page }) }}" title="Bajar registro">
                            <i class="icon-hand-down"></i>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="row">
        <div class="span4">    
            <ul class="btn-group">
                <li>
                    <a class="btn btn-primary" href="{{ path('publicaciones_new') }}">
                        Nueva publicacion
                    </a>
                </li>
             </ul>
        </div>
        <div class="span4">
            <div class="navigation"> {{ knp_pagination_render(pagination) }} </div>
        </div>   
</div>

{% endblock %}