<ul class="nav">
    <li {% if pagina=="homepage" %} class="active" {% endif %}>
        <a href="{{path('RichpolisBackendBundle_homepage')}}">Dashboard</a>
    </li>
    <li {% if pagina=="galerias" %} class="active" {% endif %}>
        <a href="{{path('RichpolisBackendBundle_categorias_galerias')}}">Galerias</a>
    </li>
    <li {% if pagina=="publicaciones" %} class="active" {% endif %}>
        <a href="{{path('RichpolisBackendBundle_publicaciones')}}">Publicaciones</a>
    </li>
    <li {% if pagina=="videos" %} class="active" {% endif %}>
        <a href="{{path('RichpolisBackendBundle_videos')}}">Videos</a>
    </li>
    <li {% if pagina=="publicidad" %} class="active" {% endif %}>
        <a href="{{path('RichpolisBackendBundle_publicidad')}}">Publicidad</a>
    </li>
    <li {% if pagina=="fans" %} class="active" {% endif %}>
        <a href="{{path('RichpolisBackendBundle_fans')}}">Fans</a>
    </li>
    <li {% if pagina=="usuarios" %} class="active" {% endif %}>
        <a href="{{path('RichpolisBackendBundle_usuarios')}}">Usuarios</a>
    </li>
</ul>